@page
@model rzr.Pages.Grouper.CreateModel

@{
    ViewData["Title"] = "Experiment Participants";
}

<h1>Experiment Participants</h1>

<h4>Add Participant to Experiment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExperimentParticipant.ExperimentId" class="control-label"></label>
                <select asp-for="ExperimentParticipant.ExperimentId" class ="form-control" asp-items="ViewBag.ExperimentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExperimentParticipant.ParticipantId" class="control-label"></label>
                <select asp-for="ExperimentParticipant.ParticipantId" class ="form-control" asp-items="ViewBag.ParticipantId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
